<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>NIRD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="slider-wrapper">
  <div class="slider" id="slider">

    <div class="slide" style="background-image: url('../static/images/fond1.jpg');"></div>
    <div class="slide" style="background-image: url('../static/images/fond2.jpg');"></div>
    <div class="slide" style="background-image: url('../static/images/fond3.jpg');"></div>
    <div class="slide" style="background-image: url('../static/images/fond4.jpg');"></div>

  </div>
</div>

<div class="nav left" id="prev">&#10094;</div>
<div class="nav right" id="next">&#10095;</div>


<div class="overlay"></div>

<h1 class="title">NIRD</h1>

<!-- ICÔNES EN IMAGES -->
<div class="grid-container">
  <div class="grid1">
    <a href="/MINI-JEU" class="card1">
      <img src="../static/images/sectionMiniGames.png" alt="Mini-JEU">
      <span>MINI-JEU</span>
    </a>
  </div>

  <div class="grid">
    <a href="/LINUX" class="card">
      <img src="../static/images/sectionLinux.png" alt="LINUX">
      <span>LINUX</span>
    </a>

    <a href="/PARTI-PRIS" class="card">
      <img src="../static/images/sectionPartiPris.png" alt="Parti-pris">
      <span>PARTI-PRIS</span>
    </a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
