<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Plateforme pédagogique</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="slider-wrapper">
  <div class="slider" id="slider">
    <div class="slide" style="background-image:url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f');"></div>
    <div class="slide" style="background-image:url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b');"></div>
    <div class="slide" style="background-image:url('https://images.unsplash.com/photo-1519681393784-d120267933ba');"></div>
  </div>
</div>

<div class="overlay"></div>

<h1 class="title">Projet Pédagogique</h1>

<!-- ICÔNES EN IMAGES -->
<div class="grid">
  <a href="/annee1" class="card">
    <img src="https://images.unsplash.com/photo-1512820790803-83ca734da794" alt="Année 1">
    <span>Année 1</span>
  </a>


  <a href="/annee2" class="card">
    <img src="https://images.unsplash.com/photo-1516979187457-637abb4f9353" alt="Année 2">
    <span>Année 2</span>
  </a>

  <a href="/annee3" class="card">
    <img src="https://images.unsplash.com/photo-1529070538774-1843cb3265df" alt="Année 3">
    <span>Année 3</span>
  </a>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
