<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="icon" href="{{ url_for('static', filename='../static/images/favicon.ico') }}">
  <meta charset="UTF-8">
  <title>NIRD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="slider-wrapper">
  <div class="slider" id="slider">

    <div class="slide gradient1 active"></div>
    <div class="slide gradient2"></div>
    <div class="slide gradient3"></div>

  </div>
</div>



<div class="nav left" id="prev">&#10094;</div>
<div class="nav right" id="next">&#10095;</div>


<div class="overlay"></div>

<h1 class="title">NIRD</h1>

<!-- ICÔNES EN IMAGES -->
<div class="grid-container">
  <div class="grid1">
    <a href="/MEMORY" class="card1">
      <img src="../static/images/sectionMiniGames.png" alt="MEMORY">
      <span>MEMORY</span>
    </a>
  </div>

  <div class="grid">
    <a href="/LINUX" class="card">
      <img src="../static/images/sectionLinux.png" alt="LINUX">
      <span>LINUX</span>
    </a>

    <a href="/PARTI-PRIS" class="card">
      <img src="../static/images/sectionPartiPris.png" alt="Parti-pris">
      <span>PARTI-PRIS</span>
    </a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
