body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f4f4f4;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

.memory-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

.memory-card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background: #2d89ef;
}

@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(3); /* x3 */
    }
}

#final-image {
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#final-image a img {
    width: 300px;  /* taille initiale */
    border-radius: 10px;
    box-shadow: 0 0 20px #444;
    animation: zoomIn 2s forwards; /* applique le zoom */
    cursor: pointer; /* indique que c'est cliquable */
}