body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(120deg, #000814, #ff6c0a, #000814);
    background-size: 300% 300%;
    animation: gradientMove 12s ease-in-out infinite;
}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

.memory-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

.memory-card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background: linear-gradient(120deg, #0f0f0f, #ff9900, #1a1a1a);
    background-size: 300% 300%;
    animation: gradientMove 12s ease-in-out infinite;
}

@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(3); /* x3 */
    }
}

#final-image {
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#final-image a img {
    width: 300px;  /* taille initiale */
    border-radius: 10px;
    box-shadow: 0 0 20px #444;
    animation: zoomIn 2s forwards; /* applique le zoom */
    cursor: pointer; /* indique que c'est cliquable */
}

#exit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2d89ef;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px #000;
    z-index: 1001;
    transition: background-color 0.3s;
    cursor: pointer;
}

#exit-button:hover {
    background-color: #1b5dab;
}
